.lightboxContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: absolute;
  overflow-y: auto;

  height: 57vh;
  width: 25rem;

  gap: var(--big-gap);

  border-radius: 1.3rem;
  border: 2px solid var(--tertiary-dark);
  box-shadow: 0px 0px 20px rgba(40, 161, 164, 0.6);

  background-color: rgba(43, 46, 74, 0.9);
  color: var(--tertiary-light);
  backdrop-filter: blur(1rem);

  .titleDiv {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;

    .loginTab,
    .registerTab {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 50%;
      padding: var(--medium-gap);

      font-size: 1rem;
      font-weight: bold;
      cursor: pointer;
      transition: 0.3s;

      font-family: var(--font-electrolize);
      color: var(--tertiary-dark);

      border-bottom: 2px solid var(--tertiary-medium);

      &:hover {
        box-shadow: 0px 0px 15px var(--tertiary-light);
        background-color: var(--primary-medium);
        color: var(--tertiary-medium);
      }

      &.selected {
        border-bottom: 2px solid transparent;
        box-shadow: none;
        background-color: transparent;
        color: var(--tertiary-medium);
      }
    }

    .registerTab {
      border-left: 2px solid var(--tertiary-medium);
    }
  }

  & form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    height: 100%;
    width: 100%;

    padding-bottom: var(--huge-gap);
    gap: var(--big-gap);

    .inputsDiv {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      width: 60%;
      gap: var(--medium-gap);
    }

    .buttonInput {
      width: fit-content;
      padding: var(--small-gap);

      border-radius: 10px;

      font-size: 1rem;
      font-weight: bold;
      border: none;

      font-family: var(--font-electrolize);
      background-color: var(--tertiary-medium);
      color: var(--primary-dark);

      cursor: pointer;
      transition: 0.3s;

      &:hover {
        background-color: var(--tertiary-light);
        box-shadow: 0px 0px 15px var(--tertiary-light);
      }
    }
  }
}
