.addImage {
    height: 2rem;
    width: 2rem;
}

.addCharacterButtonContainer {
    display: flex;
    border-right: 2px solid var(--primary-darker);

    .createCharacterButton {
        width: 100%;
        height: var(--almanax-calendar-header-height);
    }
}
