.characterProfileDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    height: 5.5rem;
    width: 80%;

    border-radius: 2rem 2rem 0 0;
    background-color: var(--primary-darker);

    .buttonImg {
        height: 1rem;
        width: 1rem;
    }

    .characterProfileText {
        position: absolute;
        bottom: 0;
        left: 0;

        width: 100%;

        padding: 0.3rem;

        color: var(--tertiary-light);
        background-color: rgba(16, 10, 48, 0.5);

        white-space: nowrap;
        overflow: hidden;

        & p {
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }

    .characterProfileImage {
        background-color: transparent;

        height: auto;
        width: 85%;

    }
}

.editButton {
    position: absolute;
    top: 0;
    right: 0;
}

.selectionDisplayButton {
    position: absolute;
    top: 0;
    left: 0;
}


.characterProfileButton {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0.25rem;
    border-radius: 50%;
    background-color: rgba(16, 10, 48, 0.5);
}
