.characterSectionContainer {
    display: flex;
    flex-direction: column;

    width: fit-content;
    overflow-x: hidden;

    background-color: var(--primary-medium);

    .characterProfilesScrollableContainer {
        overflow-y: scroll;

        .characterProfilesContainer {
            display: flex;
            flex-direction: column;
            align-items: center;

            padding: 0.6rem;
            gap: var(--medium-gap);
        }
    }
}
