.characterSectionContainer {

    display: flex;
    flex-direction: column;

    width: var(--character-section-width);
    overflow-x: hidden;

    background-color: var(--primary-medium);

    .characterProfilesScrollableContainer {
        overflow-y: scroll;
        height: 100%;

        .characterProfilesContainer {
            display: flex;
            flex-direction: column;
            align-items: center;

            padding: var(--small-gap) 0;

            gap: var(--medium-gap);
        }
    }
}
