.lightboxContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: absolute;
  overflow-y: auto;

  height: 55vh;
  width: 25rem;

  gap: var(--medium-gap);
  padding: var(--small-gap);

  border-radius: 1.3rem;
  border: 2px solid var(--tertiary-dark);
  box-shadow: 0 0 20px rgba(40, 161, 164, 0.6);

  background-color: rgba(43, 46, 74, 0.9);
  color: var(--tertiary-light);
  backdrop-filter: blur(1rem);

  .inputsDiv {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: 100%;

    gap: var(--big-gap);

    .generalPictureSection {
      display: flex;
      align-items: center;

      width:100%;

      .profilePictureSectionContainer {
        display: flex;
        position: relative;
        width: 40%;

        padding: 0 var(--big-gap) 0 var(--big-gap);

        .profilePictureContainer {
          display: flex;

          padding: var(--small-gap);
          opacity:0.9;

          border: 2px solid var(--tertiary-light);

          .profilePicture{
            width: 4rem;
            height: 4rem;
            z-index: -1;
          }
        }

        .dropDown {
          display: flex;
          position: absolute;

          top: 4rem;
          left: var(--small-gap);

          border: 2px solid var(--tertiary-light);

          .dropDownElementsContainer {
            display: flex;
            flex-wrap: wrap;
            width: 21rem;
            background-color: var(--primary-medium);

            .dropDownOptionsContainer {
              display: block;

              height:3rem;
              padding:0.5rem;

              background-color: var(--primary-light);

              &:hover {
                background-color: var(--primary-light);
              }

              .dropDownOptions{
                width:2rem;
                height:2rem;
              }
            }
          }
        }
      }
    }
    .characterNameSection{
      display: flex;
      justify-content: center;

      width: 100%;
      .characterNameInputDiv {
        display: flex;

        width: 70%;
      }
    }
  }
  .separator {
    display: flex;

    width: 90%;
    height: 1px;

    background-color: var(--tertiary-light);
  }
}

.submitButton {
  width: fit-content;
  padding: var(--small-gap);

  border-radius: 10px;

  font-size: 1rem;
  font-weight: bold;
  border: none;

  font-family: var(--font-electrolize);
  background-color: var(--tertiary-medium);
  color: var(--primary-dark);

  cursor: pointer;
  transition: 0.3s;

  &:hover {
    background-color: var(--tertiary-light);
    box-shadow: 0px 0px 15px var(--tertiary-light);
  }
}