.lightboxContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: absolute;
  overflow-y: auto;

  height: 55vh;
  width: 25rem;

  gap: var(--medium-gap);
  padding: var(--small-gap);

  border-radius: 1.3rem;
  border: 2px solid var(--tertiary-dark);
  box-shadow: 0 0 20px rgba(40, 161, 164, 0.6);

  background-color: rgba(43, 46, 74, 0.9);
  color: var(--tertiary-light);
  backdrop-filter: blur(1rem);

  .inputsDiv {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;

    gap: var(--medium-gap);

    .profileContainer {
      display: flex;
      width: 100%;
      justify-content: space-around;

      .profilePictureContainer {
        display: flex;

        width: fit-content;

        padding: var(--medium-gap);

        border: 2px solid var(--tertiary-light);

        .profilePicture {
          height: 3rem;
          width: 3rem;
        }
      }

      .colorDiv {
      }
    }

    .characterNameInputDiv {
      display: flex;

      width: 70%;
    }
  }

  .seperator {
    display: flex;

    width: 90%;
    height: 1px;

    background-color: var(--tertiary-light);
  }
}
