.colorsDiv {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 50%;
    height: 3rem;

    gap: var(--small-gap);
    padding: var(--small-gap);

    background-color: var(--primary-medium);
    border: 2px solid var(--primary-light);
    border-radius: 1rem;

    .colorButton {
        display: flex;

        width: 1.3rem;
        height: 1.3rem;
    }
}
