.colorsDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    gap: var(--small-gap);
    padding: var(--small-gap);

    .colorButton {
        display: flex;

        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50%;
        border: 3px var(--primary-darker) solid;

        &:hover {
            border: 3px var(--primary-light) solid;
        }
    }
}
