:root {
  --primary-darker: #0b1b3a;
  --primary-dark: #0e2144;
  --primary-medium: #142a53;
  --primary-light: #1b53b2;
  --primary-highlight: #1a65db;
  --secondary-dark: #3f0d1e;
  --secondary-medium: #3d1a3f;
  --secondary-light: #b1eee9;
  --secondary-highlight: #7a2d7c;

  --accent-dark: #a11041;
  --accent-medium: #c10f46;
  --accent-light: #e31a53;

  --foreground-accent-light: #fef2f3;
  --foreground-accent-dark: #570520;
  --foreground-primary: #eef8ff;

  --small-gap: 0.5rem;
  --medium-gap: 1rem;
  --big-gap: 2rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--font-arvo);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;

  color: var(--foreground);
  background: var(--primary-medium);
}

main {
  display: flex;
  flex-direction: column;

  margin-top: 4rem;
  min-height: 100%;
  flex: 1;
}

.noUserSelect {
  user-select: none;
}
