:root {
  --primary-darker: #1e2038;
  --primary-dark: #2b2e4a;
  --primary-medium: #363c68;
  --primary-medium-highlight: #2f345f;
  --primary-light: #454c88;
  --primary-lighter: #4f5aa6;
  --secondary-darker: #3c151e;
  --secondary-dark: #6d2e3e;
  --secondary-medium: #7f3244;
  --secondary-light: #903749;
  --secondary-lighter: #b44a5d;

  --orange-accent-dark: #b32222;
  --orange-accent-medium: #d52d2d;
  --orange-accent-light: #e84545;

  --blue-accent-dark: #28a1a4;
  --blue-accent-medium: #6fd9d7;
  --blue-accent-light: #b8efec;

  --foreground-primary-light: #f3f6fb;
  --foreground-primary-dark: #14162b;
  --foreground-orange-accent-light: #fef2f2;
  --foreground-orange-accent-dark: #430c0c;

  --small-gap: 0.5rem;
  --medium-gap: 1rem;
  --big-gap: 2rem;
  --huge-gap: 3rem;

  --header-height: 4rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  overflow-y: hidden;

  font-family: var(--font-electrolize);
  color: var(--foreground);
  background: var(--primary-dark);
}

main {
  display: flex;
  flex-direction: column;

  margin-top: 4rem;
  min-height: 100%;
  flex: 1;
}

.noUserSelect {
  user-select: none;
}

button {
  border: none;
  font-family: var(--font-orbitron);
}

* ::-webkit-scrollbar {
  width: 12px;
}

* ::-webkit-scrollbar-track {
  background-color: var(--primary-darker);
}

* ::-webkit-scrollbar-thumb {
  background-color: var(--primary-light);
  border-radius: 20px;
  border: 3px solid var(--primary-darker);
}
