.header {
  display: flex;

  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: var(--header-height);

  padding: 0 3rem 0 3rem;

  background-color: var(--primary-dark);
  border-bottom: 1px solid var(--primary-darker);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;

  .headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 4rem;

    .logoDiv {
      display: flex;
      align-items: center;

      gap: var(--medium-gap);

      color: var(--foreground-orange-accent-light);
      font-family: var(--font-orbitron);

      & h1 {
        font-size: 2rem;
      }

      & img {
        height: 3rem;
        width: auto;
      }
    }

    .nav {
      display: flex;
      align-items: center;

      gap: var(--medium-gap);

      font-family: var(--font-orbitron);

      & a {
        display: flex;

        height: fit-content;

        padding: 0.5rem;

        border-radius: 0.3rem;
        text-decoration: none;
      }

      .almanaxBtn {
        background-color: var(--orange-accent-medium);
        border: 2px solid transparent;
        color: var(--foreground-orange-accent-light);

        &:hover {
          background-color: var(--orange-accent-light);
          border: 2px solid var(--orange-accent-dark);
        }
      }

      .characterBtn,
      .userBtn {
        background-color: var(--primary-medium);
        border: 2px solid var(--orange-accent-medium);
        color: var(--foreground-orange-accent-light);

        &:hover {
          background-color: var(--orange-accent-medium);
          border: 2px solid var(--orange-accent-dark);
          color: var(--foreground-orange-accent-light);
        }
      }

      .userBtn {
        border-radius: 50%;

        .userImg {
          height: 1.3rem;
          width: auto;
        }
      }
    }
  }
}
