.secondaryButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  padding: 0.5rem;
  font-size: 1rem;

  background-color: var(--secondary-dark);
  border: 2px solid transparent;
  color: var(--foreground-secondary-light);

  &:hover {
    background-color: var(--secondary-medium);
    border: 2px solid var(--secondary-darker);
  }
}

.primaryButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  padding: 0.5rem;
  font-size: 1rem;

  background-color: var(--primary-medium);
  border: 2px solid var(--secondary-dark);
  color: var(--foreground-secondary-light);

  &:hover {
    background-color: var(--secondary-dark);
    border: 2px solid var(--secondary-darker);
    color: var(--foreground-secondary-light);
  }
}
