.characterSelectionButton {
  background-color: transparent;
  cursor: pointer;

  .characterProfileContainer {
    display: flex;

    height: 7rem;
    width: 7rem;

    .imageContainer {
      display: flex;
      justify-content: center;
      align-items: center;

      border-radius: 2rem;
      background-color: var(--primary-darker);

      flex-grow: 1;

      .characterProfileImage {
        background-color: var(--primary-darker);

        height: 5rem;
        width: 5rem;
      }
    }
  }
}
