.almanaxPageContainer {
    --almanax-page-vertical-padding: 3rem;
    --character-section-width: 7rem;
    --almanax-calendar-header-height: 4rem;

    display: flex;

    height: 100%;
    width: 100%;
    flex: 1;


    overflow-y: hidden;

    .globalCalendarContainer {
        display: flex;

        height: calc(100vh - var(--header-height));
        width: 100%;

        overflow: hidden;

        .rightPartContainer {
            display: flex;
            flex-direction: column;

            height: 100%;
            width: calc(100% - var(--character-section-width));
        }
    }
}
