.almanaxPageContainer {
    --almanax-page-vertical-padding: 3rem;
    --character-section-width: 7rem;

    display: flex;

    height: 100%;
    flex: 1;

    padding: var(--almanax-page-vertical-padding) 8rem;

    overflow-y: hidden;

    .globalCalendarContainer {
        display: flex;

        height: calc(100vh - 2 * var(--almanax-page-vertical-padding) - var(--header-height));
        width: 80vw;

        border: 2px solid var(--primary-darker);
        border-radius: 10px;
        overflow: hidden;
    }
}
